.mall-layout {
    height: 100vh;
    .logo {
        text-align: center;
    }
    .sider{
        position: relative;
        overflow: auto;
        left: 0px;
        z-index: 1;
        margin-bottom: 40px;
    }
    .content-layout{
       margin-top: 110px;
        .content-body{
            margin: 0px 20px;
        }
    }
}